# Introduction to Python

## Numbers, Strings, Lists & Dictionaries

### Numbers

In [1]:
1 + 2

3

In [2]:
2 ** 5

32

Python has floating point numbers.

In [3]:
1.2 + 2.3

3.5

In [4]:
0.1 + 0.2

0.30000000000000004

See https://0.30000000000000004.com/ to know why this works like this.

Pay attention to division of numbers.

In [5]:
7 / 2

3.5

If you want to do integer division, use the `//` operator.

In [6]:
7 // 2

3

### Strings

In [7]:
"hello"

'hello'

In [8]:
'hello'

'hello'

In [9]:
"hello" + 'world'

'helloworld'

In [10]:
"hello" * 5

'hellohellohellohellohello'

In [11]:
"Let's play"

"Let's play"

Python supports multi-line strings.

In [12]:
message = """
Hello everyone,

Welcome to the Practical computing course!
"""

In [13]:
message

'\nHello everyone,\n\nWelcome to the Practical computing course!\n'

The special character `\n` represents a new line character.Though it is shown as a two characters, it is internally treated as a single character.

In [14]:
print(message)

Hello everyone,

Welcome to the Practical computing course!

**String Formatting**

Python uses _format strings_ for string formatting. They are like regular strings, but with a prefix `f`.

In [15]:
name = "Python"
message = f"Hello {name}"
message

'Hello Python'

In [17]:
n = 5
for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [19]:
n = 5
for i in range(1, 11):
    print(n, "x", i, "=", n*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

String formatting allows controlling spaces.

In [21]:
n = 12
for i in range(1, 11):
    print(f"{n:2d} x {i:2d} = {n*i:3d}")

12 x  1 =  12
12 x  2 =  24
12 x  3 =  36
12 x  4 =  48
12 x  5 =  60
12 x  6 =  72
12 x  7 =  84
12 x  8 =  96
12 x  9 = 108
12 x 10 = 120

Python supports unicode text as well.

In [22]:
name = "à²…à²²à²°à³"

In [23]:
print("Hello,", name)

Hello, à²…à²²à²°à³

In [29]:
print("\u0c05\u0c06\u0c07\u0c08") # telugu
print("\u0c85\u0c86\u0c87\u0c88") # kannada
print("\u0905\u0906\u0907\u0908") # hindi

à°…à°†à°‡à°ˆ
à²…à²†à²‡à²ˆ
à¤…à¤†à¤‡à¤ˆ

In [30]:
cat = "\U0001f638"

In [31]:
print(cat)

ðŸ˜¸

In [32]:
print(cat * 10)

ðŸ˜¸ðŸ˜¸ðŸ˜¸ðŸ˜¸ðŸ˜¸ðŸ˜¸ðŸ˜¸ðŸ˜¸ðŸ˜¸ðŸ˜¸

### Lists

In [33]:
[1, 2, 3, 4]

[1, 2, 3, 4]

In [34]:
x = [1, 2, 3, 4]

In [35]:
x

[1, 2, 3, 4]

In [36]:
len(x)

4

In [37]:
len("hello")

5

In [38]:
sum(x)

10

In [39]:
names = ["Alice", "Bob", "Charlie", "Dave"]

In [40]:
len(names)

4

In [41]:
names[0]

'Alice'

In [42]:
names[1]

'Bob'

In [43]:
names[2]

'Charlie'

In [44]:
names[3]

'Dave'

We can use a for loop to iterate over the values of a list.

In [45]:
names

['Alice', 'Bob', 'Charlie', 'Dave']

In [46]:
for name in names:
    print("Hello", name)

Hello Alice
Hello Bob
Hello Charlie
Hello Dave

### Dictionaries

In [47]:
phone_numbers = {
    "Alice": 1234,
    "Bob": 2345,
    "Charlie": 3456
}

In [48]:
phone_numbers

{'Alice': 1234, 'Bob': 2345, 'Charlie': 3456}

In [49]:
phone_numbers["Alice"]

1234

In [50]:
phone_numbers["Dave"] = 4567

In [51]:
phone_numbers

{'Alice': 1234, 'Bob': 2345, 'Charlie': 3456, 'Dave': 4567}

In [52]:
"Alice" in phone_numbers

True

In [53]:
"Zoe" in phone_numbers

False

The lists and dictionries could be nested.

In [54]:
records = [
    {"name": "Alice", "phone": 1234},
    {"name": "Bob", "phone": 2345},
    {"name": "Charlie", "phone": 3456},
]

In [55]:
records

[{'name': 'Alice', 'phone': 1234},
 {'name': 'Bob', 'phone': 2345},
 {'name': 'Charlie', 'phone': 3456}]

In [57]:
records[0]['name']

'Alice'

In [58]:
for r in records:
    print(r['name'], r['phone'])

Alice 1234
Bob 2345
Charlie 3456

In [59]:
d = {
    "name": "Alice",
    "repos": [
        {
            "name": "repo1",
            "full_name": "alice/repo1"
        },
        {
            "name": "repo2",
            "full_name": "alice/repo2"
        }
    ]
}

In [60]:
d['repos']

[{'name': 'repo1', 'full_name': 'alice/repo1'},
 {'name': 'repo2', 'full_name': 'alice/repo2'}]

In [61]:
d['repos'][1]

{'name': 'repo2', 'full_name': 'alice/repo2'}

In [62]:
d['repos'][1]['full_name']

'alice/repo2'

In [63]:
{"Alice": 123, "Alice": 234}

{'Alice': 234}

In [64]:
d = {"Alice": 123}

In [65]:
d["Bob"] = 234

In [66]:
d

{'Alice': 123, 'Bob': 234}

In [67]:
d['Alice'] = 1234

In [68]:
d

{'Alice': 1234, 'Bob': 234}

## Functions, Methods & Modules

Python has many built-in functions.

In [70]:
print("hello")

hello

In [71]:
len("hello")

5

In [72]:
sum([1, 2, 3, 4, 5])

15

Python does not support operatations on incompatible datatypes.

In [73]:
1 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [74]:
str(1) + "2"

'12'

In [75]:
1 + int("2")

3

#### Example: Counting the number of digits in a number

In [76]:
12345

12345

In [78]:
2 ** 1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [79]:
len(12345)

TypeError: object of type 'int' has no len()

In [80]:
len(str(12345))

5

In [81]:
len(str(2**1000))

302

### Writing our own functions

In [82]:
def square(x):
    return x*x

In [83]:
square(4)

16

In [84]:
def square(x):
    y = x*x
    return y

In [85]:
square(4)

16

In [86]:
def add(x, y):
    z = x + y
    return z

In [87]:
add(3, 4)

7

In [89]:
y = 5

def square(x):
    # y is a local variable
    y = x*x
    return y

print(square(4))
print(y)

16
5

In [90]:
print(square(y), y)

25 5

In [93]:
y = 5

def f(x):
    z = x + y
    return z

print(f(10))
print(f(20))

15
25

**Problem:** Write a function `count_digits` that takes a number as argument and returns the number of digits it has.


```
>>> count_digits(12345)
5
>>> count_digits(2 ** 1000)
302
```

**Problem:** Write a function `mean` that takes a list of numbers as argument and returns the mean of those numbers.

```
>>> mean([1, 2, 3, 4])
2.5
>>> mean([1, 2, 3, 4, 5])
3.0
```

In [94]:
1.2343

1.2343

In [95]:
0.1 + 0.2

0.30000000000000004

In [97]:
def mean(values):
    return sum(values)/len(values)

In [98]:
x = mean([0.1, 0.2, 0.5])

In [99]:
x

0.26666666666666666

In [100]:
print(f"mean is {x:0.3f}")

mean is 0.267

### Methods

Methods are special kind of functions that work on an object.

In [101]:
x = "Hello"

In [102]:
len(x)

5

In [103]:
x.upper()

'HELLO'

`upper` is a method that is available on string objects.

In [104]:
y = 'good bye'

In [105]:
y.upper()

'GOOD BYE'

Methods can also take arguments.

In [106]:
"mathematics".count("mat")

2

In [108]:
"mathematics".replace("mat", "rat")

'ratheratics'

In [113]:
%%file five.txt
1 one
2 two
3 three
4 four
5 five

Overwriting five.txt

In [114]:
open("five.txt").readline()

'1 one\n'

In [115]:
open("five.txt").readline().strip()

'1 one'

In [116]:
open("five.txt").readline().strip().split()

['1', 'one']

In [119]:
# print a string "hello"
print("hello")

hello

In [118]:
# looking for a variable hello
print(hello)

NameError: name 'hello' is not defined

In [120]:
# opening a file with name "five.txt"
open("five.txt")

In [121]:
# open the file whose value is specified by the variable filename
filename = 'five.txt'
open(filename)

In [122]:
# looking for variable five and then an attribute txt on that value
open(five.txt)

NameError: name 'five' is not defined

### Splitting and Joining Strings

In [123]:
sentence = "Anything that can go wrong, will go wrong."

In [124]:
sentence.split()

['Anything', 'that', 'can', 'go', 'wrong,', 'will', 'go', 'wrong.']

The `split()` method splits on any white space.

We can also specify the delimeter to split on.

In [125]:
sentence.split(",")

['Anything that can go wrong', ' will go wrong.']

Let's see how to join back.

In [126]:
sep = "-"

In [127]:
sep.join(["a", "b", "c"])

'a-b-c'

In [128]:
"-".join(["a", "b", "c"])

'a-b-c'

In [129]:
sentence

'Anything that can go wrong, will go wrong.'

In [130]:
"-".join(sentence.split())

'Anything-that-can-go-wrong,-will-go-wrong.'

The other useful method on strings is `strip`.

In [131]:
line = "a b c\n"

In [132]:
line.strip()

'a b c'

In [133]:
name = "  python   "

In [134]:
name.strip()

'python'

**Problem:** Write a function `count_words` that takes a sentence as argument and returns the number of words it has.

```
>>> count_words("one two three")
3
>>> count_words("the joy of programming")
4
```

In [136]:
def square(x):
    ...

In [141]:
def count_words(sentence):
    words = sentence.split()
    return len(words)

In [142]:
count_words("one two thee")

3

### Reading Files

In [146]:
%%file three.txt
one
two
three

Overwriting three.txt

In [144]:
# read all the contents as a single string
open("three.txt").read()

'one\ntwo\nthree\n'

In [145]:
# read all the lines
open("three.txt").readlines()

['one\n', 'two\n', 'three\n']

In [147]:
contents = open("three.txt").read()

In [148]:
contents

'one\ntwo\nthree\n'

In [149]:
print(contents)

one
two
three

**Problem:** Write a function `count_lines` that takes a filename as argument and returns the number of lines in the file.

In [150]:
def count_lines(filename):
    lines = open(filename).readlines()
    return len(lines)

In [151]:
count_lines("three.txt")

3

### Modules

In [152]:
import os

In [153]:
os.getcwd()

'/home/anand/github/anandology/practical-computing/notebooks'

In [154]:
# list all the files in the current directory
os.listdir()

['taste-of-python.qmd',
 '.ipynb_checkpoints',
 'assignment-02.ipynb',
 'introduction-to-python.ipynb',
 'assignment-01.ipynb',
 'three.txt',
 '1-introduction-to-python.ipynb',
 'taste-of-python.quarto_ipynb',
 '1-taste-of-python.ipynb',
 'five.txt']

In [156]:
os.listdir(".")

['taste-of-python.qmd',
 '.ipynb_checkpoints',
 'assignment-02.ipynb',
 'introduction-to-python.ipynb',
 'assignment-01.ipynb',
 'three.txt',
 '1-introduction-to-python.ipynb',
 'taste-of-python.quarto_ipynb',
 '1-taste-of-python.ipynb',
 'five.txt']

In [157]:
os.listdir("..")

['plotting',
 'git.qmd',
 'about.aux',
 '_quarto.yml',
 'publishing',
 'notes.ipynb',
 '.ipynb_checkpoints',
 'styles.css',
 'README.md',
 'problem-sets',
 '.git',
 'notebooks',
 '_site',
 'about.log',
 'about.qmd',
 'python.qmd',
 '.quarto',
 'about.tex',
 'session1.ipynb',
 'index.qmd',
 '.gitignore',
 'Makefile']

In [159]:
import time

In [160]:
time.asctime()

'Mon Oct 14 17:35:23 2024'

In [161]:
time.asctime()

'Mon Oct 14 17:35:32 2024'

In [162]:
from time import asctime

In [163]:
asctime()

'Mon Oct 14 17:35:41 2024'

## Lists

In [165]:
x = ['a', 'b', 'c', 'd']

In [166]:
x

['a', 'b', 'c', 'd']

In [167]:
len(x)

4

In [168]:
x[0]

'a'

In [169]:
names = ["Alice", "Bob", "Charlie"]

In [170]:
for name in names:
    print(name)

Alice
Bob
Charlie

In [171]:
for i in range(5):
    print(i)

0
1
2
3
4

**Problem:** Write a function `product` to compute the product of given list of numbers.

In [192]:
def product(numbers):
    result = 1
#     print("begin result=", result)
    for n in numbers:
        result = result * n
#         print("n=", n, "result=", result)
    return result

In [193]:
product([2, 5, 8])

80

In [179]:
def say_hello(names):
    for name in names:
        print("Hello", name)

In [181]:
say_hello(["Alice", "Bob", "Charlie"])

Hello Alice
Hello Bob
Hello Charlie

### List Indexing

In [194]:
x = ['a', 'b', 'c', 'd', 'e']

In [195]:
x[0]

'a'

How to get the last element?

In [196]:
x[len(x)-1]

'e'

In [197]:
sentence

'Anything that can go wrong, will go wrong.'

Can get the last word of the sentence?

In [199]:
words = sentence.split()
words[len(words)-1]

'wrong.'

In [200]:
x[len(x)-1]

'e'

In [201]:
x[-1]

'e'

In [202]:
sentence.split()[-1]

'wrong.'

```
+----+----+----+----+
|  a |  b |  c |  d |
+----+----+----+----+
|  0 |  1 |  2 |  3 | --> regular index
+----+----+----+----+
| -4 | -3 | -2 | -1 | <-- negative index
+----+----+----+----+
```

### List Slicing

In [204]:
x = ["zero", "one", "two", "three", "four", "five", "six", "seven"]

In [205]:
x[0:2] # from index 0 to 2 (the end is not included)

['zero', 'one']

In [206]:
x[:2] # upto index 2

['zero', 'one']

In [207]:
x[2:] # index 2 onwards

['two', 'three', 'four', 'five', 'six', 'seven']

In [208]:
x[1:6] # index 1 to 6

['one', 'two', 'three', 'four', 'five']

In [209]:
x[1:6:2] # index 1 to 6 in steps of 2

['one', 'three', 'five']

How about all but the first element?

In [210]:
x[1:]

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [212]:
x[::2]

['zero', 'two', 'four', 'six']

In [213]:
x[:-1] # everything but the last

['zero', 'one', 'two', 'three', 'four', 'five', 'six']

In [214]:
x[::-1]

['seven', 'six', 'five', 'four', 'three', 'two', 'one', 'zero']

In [215]:
[2, 5, 8][-1]

8

In [216]:
a = [2, 5, 8]
a[-1]

8

### Growing Lists

In [217]:
x = [1, 2, 3, 4]

In [218]:
x.append(5)

In [219]:
x

[1, 2, 3, 4, 5]

## List Comprehensions

In [220]:
numbers = [1, 2, 3, 4, 5]

How to compute squares of all these numbers?

In [221]:
def squares(numbers):
    result = []
    for n in numbers:
        result.append(n*n)
    return result

In [222]:
squares(numbers)

[1, 4, 9, 16, 25]

In [223]:
[n*n for n in numbers]

[1, 4, 9, 16, 25]

In [232]:
[n*n for n in numbers if n%2 == 0]

[4, 16]

In [224]:
%%file 5.txt
1
2
3
4
5

Writing 5.txt

In [225]:
open("5.txt").readlines()

['1\n', '2\n', '3\n', '4\n', '5\n']

In [226]:
lines = open("5.txt").readlines()

In [227]:
lines

['1\n', '2\n', '3\n', '4\n', '5\n']

In [228]:
[int(line) for line in lines]

[1, 2, 3, 4, 5]

In [229]:
sum([int(line) for line in lines])

15

In [230]:
def sumfile(filename):
    lines = open(filename).readlines()
    numbers = [int(line) for line in lines]
    return sum(numbers)

In [231]:
sumfile("5.txt")

15

Find all the ipynb files.

In [235]:
[f for f in os.listdir() if f.endswith(".ipynb")]

['assignment-02.ipynb',
 'introduction-to-python.ipynb',
 'assignment-01.ipynb',
 '1-introduction-to-python.ipynb',
 '1-taste-of-python.ipynb']